
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo"><img src="assets/images/logo.png" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini"><img src="assets/images/logo.png" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fas fa-bars"></span>
        </button>
 
        <ul class="navbar-nav navbar-nav-right">
 
          <!-- <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-toggle="dropdown">
              <i class="fas fa-bell mx-0"></i>
              <span class="count">16</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">شما 16 اعلان جدید دارید
                </p>
                <span class="badge badge-pill badge-warning float-right">مشاهده همه</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-danger">
                    <i class="fas fa-exclamation-circle mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium">خطای برنامه</h6>
                  <p class="font-weight-light small-text">
                    همین حالا
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="fas fa-wrench mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium">تنظیمات</h6>
                  <p class="font-weight-light small-text">
                    پیغام خصوصی
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="far fa-envelope mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium">کاربر جدید ثبت نام کرد</h6>
                  <p class="font-weight-light small-text">
                    2 روز قبل
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-envelope mx-0"></i>
              <span class="count">25</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="messageDropdown">
              <div class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">شما 7 ایمیل خوانده نشده دارید
                </p>
                <span class="badge badge-info badge-pill float-right">مشاهده همه</span>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium">رضا افشار
                    <span class="float-left font-weight-light small-text">1 دقیقه قبل</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    جلسه کنسل شده است
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium">پریسا توکلی
                    <span class="float-left font-weight-light small-text">15 دقیقه قبل</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    محصولات جدید ارسال شد
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium"> امیر
                    <span class="float-left font-weight-light small-text">18 دقیقه قبل</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    تغییر زمان کنفرانس
                  </p>
                </div>
              </a>
            </div>
          </li> -->
        </ul>
        <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="fas fa-bars"></span>
        </button> -->
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas sidebar-dark" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img src="assets/images/faces/face5.jpg" alt="image" />
              </div>
              <div class="profile-name">
                <p class="name">
                  خوش آمدید
                </p>
                <p class="designation">
                  {{ adminName }}
                </p>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard/Home">
              <i class="fa fa-home menu-icon"></i>
              <span class="menu-title">داشبورد</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false"
              aria-controls="page-layouts">
              <i class="fas fa-book menu-icon"></i>
              <span class="menu-title">مغایرت گیری</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="page-layouts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item" routerLink="/Dashboard/ConflictList"> <a class="nav-link" >تاریخه مغایرت گیری ها</a></li>
                <li class="nav-item" routerLink="/Dashboard/ConflictList/Add"> <a class="nav-link">افزودن مغایرت گیری</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" (click)="logOut()">
              <i class="fas fa-sign-out-alt menu-icon"></i>
              <span class="menu-title">خروج</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">تمامی حقوق محفوظ است.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>



