<div class="row page-table">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-sm-12 col-md-4">
                        <h4 class="card-title">فهرست مغایرت گیری ها</h4>
                    </div>
                    <div class="col-sm-12 col-md-8 text-left">
                        <form [formGroup]="pageForm" class="dataTables_filter"> 
                            <label>
                                از تاریخ
                                <ng-persian-datepicker [dateInitValue]="false">
                                    <input class="form-control" type="text" [formControl]="pageForm.controls['From']" />
                                </ng-persian-datepicker>
                            </label>
                            &nbsp;&nbsp;
                            <label> 
                                تا تاریخ
                                <ng-persian-datepicker [dateInitValue]="false">
                                    <input class="form-control" type="text" [formControl]="pageForm.controls['To']" />
                                </ng-persian-datepicker>
                            </label>
                            &nbsp;&nbsp;
                            <label>
                                <button class="btn btn-peimary" (click)="getConflictList()">جستجو</button>
                            </label>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <ngx-skeleton-loader count="18" appearance="line" *ngIf="!dataLoaded"></ngx-skeleton-loader>
                        <div class="table-responsive">
                            <table  *ngIf="dataLoaded" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="fit">ردیف</th>
                                        <th>عنوان مغایرت گیری</th>
                                        <th class="fit">تاریخ ثبت</th>
                                        <th class="fit">جزئیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ConflictList | paginate: { itemsPerPage: 10, currentPage: pageNumber, totalItems: total } ;let i = index;">
                                        <td class="fit">{{ i+1 }}</td>
                                        <td>{{ item.title }}</td>
                                        <td class="fit">{{ item.creationDate }}</td>
                                        <td class="fit">
                                            <button class="btn btn-info" [routerLink]="'/Dashboard/ConflictDetail/'+item.id">
                                                <i class="fas fa-edit"></i>
                                            </button> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                <pagination-controls previousLabel="قبلی" nextLabel="بعدی"
                                    (pageChange)="pageNumber = $event; getConflictList();"></pagination-controls>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 