.dropify-wrapper .dropify-message p.dropify-error {
    color: #06cb0c;
    font-weight: 700;
    display: block;
    font-size: 20px;
    margin: 20px 0;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item.active {
    font-size: 0.8125rem;
    background: #29c281;
    padding: 0.56rem 10px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item:last-child {
    background: #dbe3e6;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item a {
    border: 0 solid #dbe3e6;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item.active a:before {
    border-right-color: #29c281;
}

.breadcrumb.breadcrumb-custom .breadcrumb-item.current-step {
    background: rgb(242, 242, 0);
}

.breadcrumb.breadcrumb-custom .breadcrumb-item.current-step a:before {
    border-right-color: rgb(242, 242, 0);
}

.dropdown .dropdown-menu {
    margin-top: 0.75rem;
    font-size: 0.8125rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    min-width: 340px;
}

/*table .fit {
    width: 1%;
    white-space: nowrap;
    text-align: center !important;
}*/

th {
    position: sticky !important;
    top: 0 !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) !important;
}

.table-container {
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
}
.table td {
    font-size: 0.7125rem;
    width: auto !important;
    white-space: normal !important;
    text-align: center !important;
    word-break: break-word !important;
    padding: 6px !important;
}

.panel .table thead th ,
.panel .table thead td {
    font-size: 12px !important;
    padding: 4px;
}
.panel h1{
    font-size: 12px !important;
    padding: 4px;
    margin: 0;
}
.number{
    position: absolute;
    background: black;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: #fff;
    font-size: 10px;
    border-top-right-radius: 8px;
}